body{
    background-color:black; 
    color:white;
}

nav ul a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 20px;
    font-family: Verdana;
}
nav ul a:hover{
    color: white;
    background-color: black;
}

header {
    background-color: white;
    color: cadetblue;
    width: 100%;
    position: absolute;
    min-height: 54px;
    padding-top: 4px;
    margin: -8px;
    box-shadow: 2px 3px 1px #8C8989;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    position: relative;
    float: left;
}



/* Android phone, smartphones, landscape iPhone */
@media only screen and (min-width: 480px) {
 body{
     background-color:green; 
    /*color:white;*/
 }
    
}
/* portrait tablets, portrait iPad, e-readers
(Nook/Kindle), landscape 800x480 phones (Android)
*/
@media only screen and (min-width: 650px) {
 body{
     background-color:yellow; 
    /*color:white;*/
 }
 
 }
 /* iPads (landscape) */
 @media only screen and (min-width: 800px) {
 body{
     background-color:blue; 
    /*color:white;*/
 }
 }
 /* big landscape tablets, laptops and desktops */
 @media only screen and (min-width: 1025px) {
 body{
     background-color:red; 
    /*color:white;*/
 }
 }
 
 /* hi-res laptops and desktops */
 @media only screen and (min-width: 1281px) {
 body{
     background-color:black; 
    /*color:white;*/
 }
 
 }