/*************** EXTEND/SECTION STUFF ****************/
container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}

section {
    width: auto;
    max-width: 350px;
    padding: 10px;
    color: white;
}

section h1 {
    width: auto;
    margin: auto;
    color:cornsilk;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 150%;
}

section h2 {
    width: auto;
    margin: auto;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 125%;
    font-weight: normal;
}

section h3 {
    margin: 0 auto;	
    font-weight: normal;
}

section b {
    font-weight: bold;
    color:cadetblue;
}

section a {
    color: burlywood;
    text-decoration: none;
    transition: color 0.2s linear;
}

section img {
    margin: 0 auto;
    display: -webkit-block;
    display: block;
}

section .logo {
    max-height: 150px;
    max-width: 150px;
}

section label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 120%;
    margin: 1em;
}

section input {
    margin: 1em;	
}

section textarea {
    margin: 1em;	
}

section select {
    margin: 1em;
}	

emptyspace {
    width: 100px;
    display: inline-flex;
}
		
container .sectionoffset {
    transform: translateY(-1.5em);
}

.icon {
    max-width: 75px;
    margin: 1em;
    display: inline-block;
}